mixin input-password(password)
  - const {id, text, placeholder, labelHidden, mod} = password;
  - let modClasses = '';
  - if (mod) {
  -   let styles = Object.values(mod);
  -   for (index in styles) {
  -     modClasses = modClasses + (index != 0 ? ' ' : '') + 'input-password__field_' + styles[index];
  -   }
  - }

  .input-password
    .input-password__top
      +label({
        forId: id,
        text: text,
        mod: {visible: labelHidden ? "hidden" : "large"},
      })
    input.input-password__field(
      class=modClasses
      id=id 
      name='password' 
      type='password' 
      required
      autocorrect='off' 
      autocomplete 
      placeholder=placeholder
    )