mixin input-password(password)
  - var modClasses = '';
  - if (password.mod) {
  -   var styles = Object.values(password.mod);
  -   for (index in styles) {
  -     modClasses = modClasses + (index != 0 ? ' ' : '') + 'input-password__field_' + styles[index];
  -   }
  - }

  .input-password
    .input-password__top
      +label({
        for: password.id,
        text: password.text,
        mod: {visible: password.labelHidden ? "hidden" : "large"},
      })
    input.input-password__field(
      class=modClasses
      id=password.id 
      name='password' 
      type='password' 
      required
      autocorrect='off' 
      autocomplete 
      placeholder=password.placeholder
    )