mixin button(btn)
  - const {theme, text, data, tabindex, mod} = btn;
  - let modClasses = '';
  - if (mod) {
  -   let styles = Object.values(mod);
  -     for (index in styles) {
  -     modClasses = modClasses + (index != 0 ? ' ' : '') + 'button_' + styles[index];
  -   }
  - }
  - let fieldText = theme ? '' : text;

  button.button(
    type="button"
    class=modClasses
    data=btn.data
    tabindex=(tabindex ? tabindex : 0)
    )=fieldText
    case theme
      when "light"
        .button__text.button__text_boundary=text
        .button__light
      when "purple"
        .button__text.button__text_flooded=text
      when "mark-minus"
        .button__mark.button__mark_minus.button__mark_default.button__mark_minus-js(class=mix)
      when "mark-plus"
        .button__mark.button__mark_plus.button__mark_plus-js(class=mix)
      when "prev-arrow"
        +icon({
          id: "arrow-big",
          width: "17",
          height: "18",
          viewBox: "0 0 17 18",
          alt: text,
        })
      when "next-arrow"
        +icon({
          id: "arrow-big",
          width: "17",
          height: "18",
          viewBox: "0 0 17 18",
          alt: text,
        })