mixin reviews(reviews)
  - const {amount, number} = reviews;
  .reviews
    .reviews__container
      if amount
        .reviews__top
          h2.reviews__title=title
          span.reviews__amount=number + ' отзыва'

      ul.reviews__list
        each val, i in review
          li.reviews__customer
            .reviews__descr
              img.reviews__pick(src='img/person-'+i+'.png')
            .reviews__descr
              b.reviews__text=val.name
              .reviews__text=val.time
            .reviews__descr
              .reviews__like
                +heart({
                  amount: val.like,
                  mod: {clicked: "active-js"},
                })
            .reviews__descr
              .reviews__text=val.review