mixin intelligence(index, title)
  .intelligence
    if index == 1
      h2.details__title #{title}
    ul.intelligence__list
      each val in convenience
        li.intelligence__item
          .intelligence__pick
            svg.intelligence__icn(viewBox=val.vievBox width=val.w height=val.h aria-label=val.header)
              use(xlink:href=val.id)
          .intelligence__container
            b.intelligence__text.details__intelligence=val.header
            div.intelligence__text=val.title