block variables

.input-dropdown
  label.input-dropdown__lb(for=params.name) #{typeof(i) != 'undefined' ? rectangleList[i] : rectangleList}
  .input-dropdown__box
    input.input-dropdown__list(name=params.name type=params.type required class=params.js placeholder=params.place ? params.place : '')
    span.arrow.input-dropdown__arrow(class=params.js)
    if params.item == 2
      .input-dropdown__options.hidden
        -for(var i=0; i<3; i++)
          .input-dropdown__opt
            span.offensive=guesList[i]
            .input-dropdown__marks
              +buttons(4, '', 'input-dropdown__mark-sign_minus input-dropdown__mark-sign_active')
              span.input-dropdown__offensive.offensive 0
              +buttons(4, '', 'input-dropdown__mark-sign_plus')
        .input-dropdown__btns
          +buttons(3, 'Очистить', 'button_color-prev button_js-prev')
          +buttons(3, 'Применить', 'button_color-next button_js-next')