block swiperList

mixin card(card)
  - const {number, status, price, starIndex, starChecked, reviews} = card;
  .card
    li.card__item
      .swiper-container.swiper-container_card-js
        .swiper-wrapper
          each value in images
            .swiper-slide
              picture.card__pic
                source(type="image/webp" srcset=value+".webp")
                source(type="image/jpeg" srcset=value+".jpg")
                img.swiper-side__img(src=value+".jpg", alt=alt)
        .swiper__pagination.card__pagination
        .swiper__prev
        .swiper__next
      .card__descr
        .card__top
          .card__container
            span.card__number #{number}
            strong.card__status=status
          .card__container
            span.card__price #{price}&#8381 
              span.card__text в сутки
        hr.card__line
        .card__content
          +rating({
            index: starIndex,
            check: starChecked,
          })
          span.card__value=reviews
          span.card__about Отзывов