mixin input-checkbox(checkbox)
  - const {id, name, type, status, mod} = checkbox;
  - let modClasses = '';
  - if (mod) {
  -   let styles = Object.values(mod);
  -     for (index in styles) {
  -     modClasses = modClasses + (index != 0 ? ' ' : '') + 'input-checkbox_' + styles[index];
  -   }
  - }

  input.input-checkbox(
    class=modClasses 
    type=(type ? type : "checkbox")
    id=id
    name=name
    checked=(status ? status : false)
    tabindex="-1"
  )