mixin icon(icon)
  - const {viewBox, width, height, alt, id, mod} = icon;
  - let modClasses = '';
  - if (mod) {
  -   let styles = Object.values(mod);
  -   for (index in styles) {
  -     modClasses = modClasses + (index != 0 ? ' ' : '') + 'icon_' + styles[index];
  -   }
  - }

  svg.icon(
    class=modClasses 
    viewBox=viewBox 
    weight=width 
    height=height 
    role="image"
    tabindex="-1"
    aria-label=alt
  )
    use(xlink:href = "#" + id)