mixin item(title)
  .item
    h2.item-title= title

mixin icon(name, w, h, VB, cl, descr)

  svg(class=cl viewBox=VB width=w height=h role="image" aria-label=descr)
    use(xlink:href = "#" + name)

mixin buttons(index, name, mix)
  case index
    when 1
      button.button.button__theme.button__theme_br.button__theme_hov_br(type="button" class=mix)=name
    when 2
      button.button.button__theme.button__theme_bg.button__theme_hov_bg(type="button" class=mix)=name
    when 3
      button.button(type="button" class=mix)=name
    when 4
      button.button__mark(type="button" class=mix)

mixin input-options(index)
  .input-options.hidden
    -for(var i=0; i<3; i++)
      .input-options__opt
        span.offensive=guesList[i]
        .input-options__marks
          +buttons(4, '', 'button__mark_minus button__mark_default')
          span.input-options__offensive.offensive 0
          +buttons(4, '', 'button__mark_plus')
    - var i = undefined;
    .input__btns
      +buttons(3, 'Очистить', 'button_color-prev button_js-prev')
      +buttons(3, 'Применить', 'button_color-next button_js-next')