mixin item(title)
  .item
    h2.item-title= title

mixin icon(name, w, h, VB, cl, descr)
  svg(class=cl viewBox=VB weight=w height=h role="image" aria-label=descr)
    use(xlink:href = "#" + name)

mixin buttons(index, name, mix, date)
  case index
    when 1
      button.button.button_gradient.button_br--hov(type="button" class=mix date=date)
        .button__theme.button__theme_br=name
    when 2
      button.button.button_gradient.button_bg--hov(type="button" class=mix date=date)
        .button__theme.button__theme_bg=name
    when 3
      button.button(type="button" class=mix)=name
    when 4
      button.button__mark(type="button" class=mix)

mixin input-options(index)
  .input-options.canvas.js--show.hidden
    -for(var i=0; i<3; i++)
      .input-options__opt
        span.offensive=dropList[i]
        .input-options__marks
          +buttons(4, '', 'button__mark_minus button__mark_default')
          span.input-options__offensive.offensive 0
          +buttons(4, '', 'button__mark_plus')
    - var i = null;
    if index == 1
      .input__btns
        +buttons(3, 'Очистить', 'button_color-prev button_js-prev')
        +buttons(3, 'Применить', 'button_color-next button_js-next')

mixin input-checkbox(index, item, name, number)
  .input-checkbox.rectangle__input-checkbox
    input.input.visuallyhidden(type='checkbox' name=name + index id=name + '-' + index value=index)
    label.label.input-checkbox__label.label_color--75(class=number==1 ? 'label_font--regular' :  'label_font--bold' for=name + '-' + index) #{ number==1 ? item : item.header }
    span.rectangle__text-small=item.title


mixin rating(index, check)
  .rating
    -for(var i=1; i<=6; i++)
      - var ch = check==i ? true : false
      input.visuallyhidden(id="rating_"+i value=i checked=ch disabled name="rating-"+index type="radio")
      label.rating__label(for="rating_"+i)
    -var i=null






