mixin item(title)
  .item
    h2.item-title= title

mixin icon(name, w, h, VB, parentBlock, descr)
  if parentBlock
    - var parentBlock = parentBlock + "__"
  else
    -var parentBlock = ""
  svg(class = parentBlock + name viewBox=VB width=w height=h role="image" aria-label=descr)
    use(xlink:href = "#" + name)

mixin buttons(index, name, mix)
  case index
    when 1
      button.button.button__theme.button__theme_br.button__theme_hov_br(type="button" class=mix)=name
    when 2
      button.button.button__theme.button__theme_bg.button__theme_hov_bg(type="button" class=mix)=name
    when 3
      button.button(type="button" class=mix)=name
    when 4
      button.input-dropdown__mark-sign(type="button" class=mix)