mixin input(input)
  - const {text, id, labelHidden, descr, type, value, placeholder, role, readonly, autocorrect, inputmode, autocomplete, patern, onfocus, onblur, maxlength, mod} = input;
  - let modClasses = '';
  - if (mod) {
  -   let styles = Object.values(mod);
  -   for (index in styles) {
  -     modClasses = modClasses + (index != 0 ? ' ' : '') + 'input__field_' + styles[index];
  -   }
  - }

  .input
    .input__top
      if text
        +label({
          forId: id,
          text: text,
          mod: {visible: labelHidden ? "hidden" : "large"},
        })
      if descr
        span.input__descr=descr
    input.input__field(
      class=modClasses
      id=id 
      type=(type ? type : "text")
      value=value
      required
      placeholder=placeholder
      data-role=role
      readonly=(readonly ? readonly : false)
      autocorrect=(autocorrect ? autocorrect : false)
      inputmode=(inputmode ? inputmode: false)
      autocomplete=(autocomplete ? autocomplete : false)
      patern=(patern? patern : false)
      onfocus=(onfocus ? onfocus : false)
      onblur=(onblur ? onblur : false)
      maxlength=(maxlength ? maxlength : false)
      )