mixin reviews(reviews)
  .reviews
    .reviews__container
      if reviews.amount
        .reviews__top
          h2.reviews__title=reviews.title
          span.reviews__amount=reviews.number + ' отзыва'

      ul.reviews__list
        each val, i in review
          li.reviews__customer
            .reviews__descr
              img.reviews__pick(src='img/svg/person-'+i+'.svg')
            .reviews__descr
              b.reviews__text=val.name
              .reviews__text=val.time
            .reviews__descr
              .reviews__like
                +heart({
                  amount: val.like,
                  mod: {clicked: "active-js"},
                })
            .reviews__descr
              .reviews__text=val.review