mixin input-email(email)
  - const {id, text, labelHidden, descr, placeholder, arrow, mod} = email;
  - let modClasses = '';
  - if (mod) {
  -   let styles = Object.values(mod);
  -   for (index in styles) {
  -     modClasses = modClasses + (index != 0 ? ' ' : '') + 'input-email__field_' + styles[index];
  -   }
  - }

  .input-email
    .input-email__top
      if text
        +label({
          forId: id,
          text: text,
          mod: {visible: labelHidden ? "hidden" : "large"},
        })
      if descr
        span.input-email__descr=descr
    .input-email__bottom
      input.input-email__field(
        class=modClasses
        id=id 
        placeholder=placeholder
        name='email' 
        type='email' 
        autocorrect='off' 
        inputmode='email' 
        autocomplete='email'
      )
      if (arrow)
        +icon({
          id: "arrow-big",
          width: "18",
          height: "18",
          viewBox: "0 0 17 18",
          alt: "Подписка",
          mod: {position: "center", color: "purple"},
        })
