mixin banner(banner)
  - const {text, mixinName, mod} = banner;
  - let modClasses = '';
  - if (mod) {
  -   let styles = Object.values(mod);
  -     for (index in styles) {
  -     modClasses = modClasses + (index != 0 ? ' ' : '') + 'banner__container_' + styles[index];
  -   }
  - }

  .banner
    .swiper-container.swiper-container_banner-js
      .swiper-wrapper
        each value in images
          .swiper-slide
            picture.swiper-side__pick
              //- source(type="image/webp" srcset=value+".webp")
              source(type="image/jpeg" srcset=value+".jpg")
              img.swiper-side__img(src=value+".jpg", alt=alt)

    .banner__container(class=modClasses)
      if text
        .banner__text=text
      +#{mixinName}()
