.details
  .details__grid
    -for(var k=0; k<3; k++)
      picture.details__pic(class = "details__pick--" + k)
        source(
          media="(min-width: 426px)"
          srcset="img/details-"+k+".png 981w",
          alt="Номер в гостинице")
        img.details__img(src="#")
    -var k = 0
  .swiper-container.details__swiper(hidden)
    .swiper-wrapper
      -for(var k=0; k<3; k++)
        .swiper-slide
          picture.details__pic
            source(
            media="(max-width: 425px)"
            srcset="img/details-"+k+".png 981w",
            alt="Номер в гостинице")
            img.details__img(src="#")
    .swiper-prev
    .swiper-next
    .swiper-scrollbar
      
  .details__container
    .details__cell--1
      +intelligence(1, "Сведения о номере")
    .details__cell--2
      +schedule()
    .details__cell--3
      +description()
    .details__cell--4
      +reviews(1, "Отзывы поситителей номера", 2)
    .details__cell--5
      +rule(1, "Правила")
    .details__cell--6
      +cansel()